/**
* Header Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";
$black: #000000;
/**
***************** A. Top Menu ************************ 
*/
.header {
	.top-nav {
		background-color: #efefef;
		.nav {
			.nav-item {
				margin-left: 0;
			}
		}
	}
}