/**
* Header Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";
$black: #000000;
/**
***************** A. Top Menu ************************ 
*/
.header {
	.top-nav {
		background-color: #efefef;
		padding: 0;
		.nav {
			.nav-item {
				margin-left: 0;
				display: inline-block;
				text-align: center;
				a {
					display: inline-block;
					padding: 10px 1em 10px 1em;
					box-sizing: initial;
					white-space: nowrap;
					&.dropdown-toggle {
						&::after {
							display: none;
						}
					}
					&:hover {
						background-color: #252525;
						color: #fefefe;
						cursor: pointer;
					}
				}
				&.dropdown {
					&:hover {
						.dropdown-menu {
							display: block;
							&:hover {
								display: block;
							}
						}
					}
				}
				ul {
					padding: 0;
					top: 95%;
					li {
						text-align: left;
						display: block;
						width: 100%;
						a {
							white-space: normal;
							width: 100%;
							box-sizing: border-box;
						}
					}
				}
			}
		}
	}
	.masthead {
		.site-title {
			font-family: 'Georgia', serif;
			font-size: 32px;
			margin-bottom: 15px;
		}
		.site-description {
			font-family: 'Georgia', serif;
			font-size: 24px;
			margin-bottom: 10px;
		}
	}
	.main-nav {
		background-color: #efefef;
		padding: 0;
		.nav {
			.nav-item {
				margin-left: 0;
				display: inline-block;
				text-align: center;
				a {
					display: inline-block;
					padding: 10px 1em 10px 1em;
					box-sizing: initial;
					white-space: nowrap;
					&.dropdown-toggle {
						&::after {
							display: none;
						}
					}
					&:hover {
						background-color: #252525;
						color: #fefefe;
						cursor: pointer;
					}
				}
				&.dropdown {
					&:hover {
						.dropdown-menu {
							display: block;
							&:hover {
								display: block;
							}
						}
					}
				}
				ul {
					padding: 0;
					top: 95%;
					li {
						text-align: left;
						display: block;
						width: 100%;
						a {
							white-space: normal;
							width: 100%;
							box-sizing: border-box;
						}
					}
				}
			}
		}
	}
}