/**
* Header Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
//* Define the variables to be used in this stylesheet
@import "mixins";
@import "settings";
$black: #000000;
/**
***************** A. Top Menu ************************ 
*/
.header {
	.top-nav {
		background-color: #efefef;
		padding: 0;
		.nav {
			.nav-item {
				margin-left: 0;
				display: inline-block;
				a {
					display: inline-block;
					padding: 10px 10% 10px 10%;
					box-sizing: initial;
					&.dropdown-toggle {
						&::after {
							margin-left: 0em !important;
						}
					}
				}
			}
		}
	}
}